RewriteEngine on

#RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteCond $1 !^(index\.php|assets|uploads|robots\.txt|sitemap\.xml)
#Your public folder names

RewriteRule ^(.*)$ index.php?/$1 [L]